/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");

h1 {
  font-family: "Rubik Burned", system-ui;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 900;
} */

@font-face {
  font-family: Gellisto;
  src: url("Gellisto.ttf");
}

h1 {
  font-family: Gellisto;
  font-size: 400%;
  text-transform: uppercase;
}

h2 {
  font-family: Gellisto;
  letter-spacing: 20px;
  /* width: 200px;
  height: 200px; */
  text-shadow: 2px 2px 5px blue;
  box-shadow: 0px 0px 10px green;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

p {
  font-size: 50%;
  font-size: 1rem;
  /* font-size: 24px; */
  line-height: 1.3rem;
  /* letter-spacing: 20px; */
  /* word-spacing: 20px; */
  text-align: justify;
  /* width: 50%; */
  text-indent: -20px;
}

ul {
  /* display: inline; */
  width: 40%;
}
/* ul > li {
  display: inline-block;
} */

.tt {
  border: 2px solid green;
  height: 200px;
  width: 350px;
}
